---
title: Home - Alternative narratives visualization archive
---
<main>
    <div class="filter__container">
        <div class="filter__header">
            <h3>Filter by</h3>
            <!-- <button name="reset">Clear all</button> -->
            <button name="selectAll">Select all</button>
        </div>
        <div class="filter__body">
            <div class="filter__section">
                <h3>Type</h3>
                <div class="filter__choice"><input type="checkbox" value=".investigative" id="investigative"
                        checked><label for="investigative">Investigative</label></div>
                <div class="filter__choice"><input type="checkbox" value=".memory-doc" id="memory-doc" checked><label
                        for="memory-doc">Memory and documentation</label></div>
                <div class="filter__choice"><input type="checkbox" value=".monitoring" id="monitoring" checked><label
                        for="monitoring">Monitoring</label></div>
                <div class="filter__choice"><input type="checkbox" value=".report" id="report" checked><label for="report">Report</label></div>
                <div class="filter__choice"><input type="checkbox" value=".social-movement" id="social-movement"
                        checked><label for="social-movement">Social movement cohesion</label></div>
            </div>
            <div class="filter__section">
                <h3>Topic</h3>
                <div class="filter__choice"><input type="checkbox" value=".human-rights" id="human-rights"
                        checked><label for="human-rights">Human Rights</label></div>
                <div class="filter__choice"><input type="checkbox" value=".memory" id="memory" checked><label for="memory">Memory</label></div>
                <div class="filter__choice"><input type="checkbox" value=".policymaking" id="policymaking"
                        checked><label for="policymaking">Policymaking</label></div>
                <div class="filter__choice"><input type="checkbox" value=".surveillance" id="surveillance"
                        checked><label for="surveillance">Surveillance</label></div>
                <div class="filter__choice"><input type="checkbox" value=".transparency" id="transparency"
                        checked><label for="transparency">Transparency & accountability</label></div>
            </div>
            <div class="filter__section">
                <h3>Data acquisition</h3>
                <div class="filter__choice"><input type="checkbox" value=".appropriated" id="appropriated"
                        checked><label for="appropriated">Appropriated data</label></div>
                <div class="filter__choice"><input type="checkbox" value=".collaboration" id="collaboration"
                        checked><label for="collaboration">Collaboration with orgs</label></div>
                <div class="filter__choice"><input type="checkbox" value=".crowdsourced" id="crowdsourced"
                        checked><label for="crowdsourced">Crowdsourced</label></div>
                <div class="filter__choice"><input type="checkbox" value=".sources" id="sources" checked><label
                        for="sources">Existing sources</label></div>
                <div class="filter__choice"><input type="checkbox" value=".governmental" id="governmental"
                        checked><label for="governmental">Governmental</label></div>
                <div class="filter__choice"><input type="checkbox" value=".research" id="research" checked><label
                        for="research">Own research</label></div>
                <div class="filter__choice"><input type="checkbox" value=".whistle" id="whistle" checked><label
                        for="whistle">Whistle-blowers</label></div>
            </div>
        </div>
    </div>
    <div class="case__container">
        {% for case in site.pages %}
            {% if case.is_case %}
                {% assign images = case.images | split: ", " %}
                <a href="{{ case.path | relative_url }}" class="case {{ case.type }} {{ case.topic }} {{ case.acquisition | replace: ',', '' }}">
                    <img src="/assets/images/placeholder.jpg" data-src="{{ '/assets/images/' | append: images[0] | replace: '.', '-sm.' | relative_url }}" alt="Feature image of project {{ case.project }}">
                    <h2>{{ case.project }}</h2>
                    <h3>By:</h3>
                    <p class="no-filter">{{ case.creator }}</p>
                    <h3>Type:</h3>
                    {% if case.type == 'memory-doc' %}
                        <p>Memory and<br/>documentation</p>
                    {% elsif case.type == 'social-movement' %}
                        <p>Social movement<br/>cohesion</p>
                    {% else %}
                        <p>{{ site.data.dictionary[case.type].label }}</p>
                    {% endif %}
                    <h3>Topic:</h3>
                    {% if case.topic == 'transparency' %}
                        <p>Transparency &<br/>accountability</p>
                    {% else %}
                        <p>{{ site.data.dictionary[case.topic].label }}</p>
                    {% endif %}
                    <h3>Subtopic:</h3>
                    <p class="no-filter">{{ case.subtopic }}</p>
                    <h3>Data acquisition:</h3>
                    {% assign acquisitions = case.acquisition | split: ", " %}
                    {% for element in acquisitions %}
                        {% if element != 'no-info' %}
                        <p>{{ site.data.dictionary[element].label }}</p>
                        {% else %}
                        <p class="no-filter">no info</p>
                        {% endif %}
                    {% endfor %}
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 20.25 20.25" xml:space="preserve">
                        <line class="st0" x1="10.12" y1="0" x2="10.12" y2="20.25"/>
                        <line class="st0" x1="0" y1="10.12" x2="20.25" y2="10.12"/>
                    </svg>
                </a>
            {% endif %}
        {% endfor %}
    </div>
</main>