<footer>
    <h3>Alternative narratives visualization archive</h3>
    <div class="footer__text">
        <p><strong>This is an open, ongoing and collaborative archive of data visualizations in online projects that shows alternative narratives.</strong></p>
        <p>This archive is part of an independent research, as part of a PhD thesis in Communication Design.</p>
        <br/>
        <p>This archive was first publish in February 2019. CC-BY-NC. </p>
        <br/>
        <p>Contact:</p>
        <p>info [at] alternative-narrative-vis-archive.com</p>
    </div>
</footer>