nav {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid var(--color-main);
    display: grid;
    grid-template-rows: var(--header-row);
    grid-template-columns: 1fr repeat(10, calc(var(--container-width)/10)) 1fr;
    background-color: var(--color-light);
    z-index: 2;
}

nav.intro__nav {
    height: var(--header-height);
}

nav h1 {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    text-align: right;
    transform-origin: 0 0;
}

.intro__nav h1 {
    margin-top: 28px;
    transform: scale(3);
}

.nav__list {
    padding: 54px 0 0;
    margin: 0;
    grid-row: 1 / span 1;
    grid-column: 6 / -2;
    display: flex;
    list-style: none;
    z-index: 3;
}

.nav__list li {
    flex-grow: 1;
}

.nav__list li:last-child {
    flex-grow: 3;
    text-align: right;
}

nav a, 
nav a:hover, 
nav a:visited {
    color: var(--color-main);
    text-decoration: none;
}

.nav__links {
    position: relative;
    font-weight: 500;
}

.nav__links::after {
    content: "";
    position: absolute;
    bottom: -0.4rem;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-main);
    opacity: 0;
}

.nav__links:hover::after,
.nav__links.current--page::after {
    opacity: 1;
}

.nav__line {
    grid-row: 1 / span 1;
    grid-column: 5 / -1;
    margin-left: 6rem;
    border-bottom: 1px solid var(--color-main);
    pointer-events: none;
}

.intro__text {
    grid-row: 2;
    grid-column: 6 / -2;
    padding-top: 1.8rem;
    overflow-y: hidden;
}