main {
    display: grid;
    grid-template-columns: repeat(10, calc(var(--container-width) / 10));
}

.context__side {
    grid-column: 1 / span 3;
    border-right: 1px solid var(--color-dark);
}

.side__container {
    padding-top: 2rem;
    padding-right: 3rem;
    position: sticky;
    top: 109px;
}

.side__container li {
    padding: 1.4rem 0 2.4rem;
    background-image: url('../images/wavy-line.svg');
    background-repeat: repeat-x;
    background-size: 12px 12px;
    background-position: bottom left;
}

.side__container li.title--active a {
    font-weight: 700;
}

.context__side a {
    font-size: 1rem;
    font-weight: 500;
}

.context__text {
    padding: 3rem 0 5rem 3rem;
    grid-column: 4 / -1;
}

.context__text h2 {
    margin: 2rem 0 0.3rem;
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--color-main);
}

.context__text p {
    padding-bottom: 1rem;
}

.context__text ul:not(.plain--list) li {
    padding-left: 3rem;
    position: relative;
}

.context__text ul:not(.plain--list) li::before {
    content: '➔';
    position: absolute;
    top: -5px;
    left: 12px;
    font-size: 1.8rem;
}

.context__text ul.plain--list {
    list-style: disc;
    padding-left: 3rem;
}

.context__text li {
    padding-bottom: 1rem;
}

.context__text img {
    padding: 3rem 0;
    border: none;
}