---
layout: default
---
<div class="modal"></div>
<main>
    <div class="project__container">
        <div class="project__left">
            <div class="project__images">
                {% assign images = page.images | split: ", " %}
                {% assign captions = page.imagesCaptions | split: ", " %}
                {% assign captionsLength = captions | size %}
                <img src="{{ '/assets/images/' | append: images[0] | relative_url }}" alt="{{ captions[0] }}" class="main-image">
                <div class="project__gallery">
                    {% for image in images offset:1 %}
                    {% if captionsLength > 1 %}
                    <img src="{{ '/assets/images/' | append: image | relative_url }}" alt="{{ captions[forloop.index] }}">
                    {% else %}
                    <img src="{{ '/assets/images/' | append: image | relative_url }}" alt="{{ page.imagesCaptions }}">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <h3>Data acquisition:</h3>
            {% assign acquisitions = page.acquisition | split: ", " %}
            {% for element in acquisitions %}
            {% if element != 'no-info' %}
            <p class="project__filter" data-acquisition="{{ element }}">{{ site.data.dictionary[element].label }}</p>
            {% else %}
            <p>no info</p>
            {% endif %}
            {% endfor %}
        </div>
        <div class="project__right">
            <h2 class="project__title">{{ page.project }}</h2>
            <a href="{{ page.link }}" target="_blank">{{ page.link }}</a>
            <h3>Created by:</h3>
            {% assign links = page.creatorLink | split: ", " %}
            {% assign linksNumber = links | size %}
            {% if linksNumber > 1 %}
            {% assign creators = page.creator | split: ", " %}
            {% for i in (0..linksNumber) %}
            <a href="{{ links[i] }}" target="_blank">{{ creators[i] }}</a>
            {% endfor %}
            {% else %}
            <a href="{{ page.creatorLink }}" target="_blank">{{ page.creator }}</a>
            {% endif %}
            <div class="project__extra">
                <div class="project__info">
                    <h3>Start/end:</h3>
                    <p>{{ page.start }} - {{ page.end }}</p>
                </div>
                <div class="project__info">
                    <h3>Status:</h3>
                    <p>{{ page.status }}</p>
                </div>
            </div>
            <h3>Type:</h3>
            <p class="project__filter" data-type="{{ page.type }}">{{ site.data.dictionary[page.type].label }}</p>
            <div class="project__extra">
                <div class="project__info">
                    <h3>Topic:</h3>
                    <p class="project__filter" data-topic="{{ page.topic }}">{{ site.data.dictionary[page.topic].label }}</p>
                </div>
                <div class="project__info">
                    <h3>Subtopic:</h3>
                    <p class="project__subcategory">{{ page.subtopic }}</p>
                </div>
            </div>
            <div class="project__desc">{{ page.description | markdownify }}</div>
        </div>
    </div>
    <div class="project__related">
        <h3>Related projects</h3>
        <div class="related__container">
            <a class="related__item"></a>
            <a class="related__item"></a>
            <a class="related__item"></a>
        </div>
    </div>
</main>
<!-- <a href="{{ site.baseurl }}/">Back to intro</a> -->