<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{ page.title }}</title>

        <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">

        <link rel="stylesheet" href="{{ '/assets/css/master.css' | relative_url }}">
        {% if page.is_case %}
        <link rel="stylesheet" href="{{ '/assets/css/cases.css' | relative_url }}">
        {% elsif page.url == '/'%}
        <link rel="stylesheet" href="{{ '/assets/css/intro.css' | relative_url }}">
        {% else %}
        <link rel="stylesheet" href="{{ '/assets/css/context.css' | relative_url }}">
        {% endif %}
        <link href="{{ '/assets/css/styles-sm.css' | relative_url }}" rel="stylesheet" media="screen and (min-width: 576px)">
        <link href="{{ '/assets/css/styles-md.css' | relative_url }}" rel="stylesheet" media="screen and (min-width: 768px)">
        <link href="{{ '/assets/css/styles-lg.css' | relative_url }}" rel="stylesheet" media="screen and (min-width: 992px)">
        <link href="{{ '/assets/css/styles-xl.css' | relative_url }}" rel="stylesheet" media="screen and (min-width: 1200px)">
    </head>
    <body>
        {% include navigation.html %}
        {{ content }}
        {% include footer.html %}

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        {% if page.url == '/' %}
        <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
        <script src="{{ '/assets/js/intro.js' | relative_url }}" charset="utf-8"></script>
        {% elsif page.is_case %}
        <script src="https://d3js.org/d3-dsv.v1.min.js"></script>
        <script src="https://d3js.org/d3-fetch.v1.min.js"></script>
        <script src="{{ '/assets/js/case.js' | relative_url }}" charset="utf-8"></script>
        {% else %}
        <script src='https://unpkg.com/intersection-observer@0.5.0/intersection-observer.js'></script>
        <script src='https://unpkg.com/scrollama'></script>
        <script src="{{ '/assets/js/scroll.js' | relative_url }}" charset="utf-8"></script>
        {% endif %}
    </body>
</html>
